/* Styles for the dashboard section */
.DashboardSection {
    height: 100vh;
    width: 100%;
    display: flex;
}

/* Styles for the side menu section */
.sideMenuSection {
    background-color: rgb(255, 255, 255);
    width: 65px;
    height: 90%;
    font-size: 16px;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: sticky;
    border-radius: 4px;
    box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
    top: 0%;
}

/* Styles for the side menu */
.sideMenu {
    width: 100%;
}

.sideMenu div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
    cursor: pointer;
    width: 100%;
}

hr {
    margin: 10px 10px;
}

/* Content header styles */
.contentHeader {
    height: 85px;
    width: 100%;
    background-image: url("../../assets/Header-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0px 0px 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5% 0px 0px;
    position: relative;
}

/* Styles for the content section */
.contentSection {
    width: 100%;
    height: 100%;
}

/* Styles for the main content area */
.content {
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    overflow-y: scroll;
}

/* Styles for the content header title */
.contentHeader .contentHeaderTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    color: aliceblue;
    padding: 0px 35px;
}

.contentHeader .contentHeaderTitle img {
    height: 18px;
    width: 18px;
}

/* Styles for the content header logo */
.contentHeader .contentHeaderLogo img {
    height: 70px;
    width: 70px;
    padding: 0px 0px 10px 0px;
}

/* Styles for the logout section */
.logoutSection {
    cursor: pointer;
}

.contentHeaderLogot {
    height: 30px;
    visibility: hidden;
    width: 30px;
}

/* Media query for screens up to 900px */
@media (max-width: 900px) {
    .sideMenuSection {
        background-color: rgb(250, 249, 247);
        width: 50px;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sideMenu div span {
        display: none;
    }
}

/* Media query for screens up to 800px */
@media (max-width: 800px) {
    /* Adjust styles for responsive layout */

    .DashboardSection {
        height: 100vh;
        width: 100%;
        position: relative;
    }
    .contentSection {
        width: 100%;
        overflow-y: hidden;
    }
    .sideMenuSection {
        width: 100%;
        display: flex;
        padding: 6px 12px;
        align-items: center;
        position: absolute;
        top: 0%;
     
        left: 0%;
        justify-content: space-between;
        z-index: 9;
    }
    .sideMenu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .content {
        width: 100%;
        height: 100%;
        padding: 0px 10px;
        overflow-y: scroll;
        padding-bottom: 60px;
    }
    .sideMenu div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        padding: 0px 30px;
    }
    .sideMenu div span {
        display: none;
    }
    .contentSection {
        width: 100%;
        order: 2;
    }
    .logoutSection {
        height: 0;
        display: block;
    }
  
    .contentHeader .contentHeaderTitle {
        width: 92%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;
        font-size: 18px;
        color: aliceblue;
        padding: 0px 15px;
    }
    .contentHeader .contentHeaderLogo img {
        height: 60px;
        visibility: hidden;
        width: 60px;
    }
    .logoutSection {
        cursor: pointer;
        display: none;
    }
    .contentHeaderLogot {
        height: 30px;
        visibility: visible;
        width: 30px;
    }
    .sideMenuSection {
        background-color: transparent;
        width: 100%;
        height: 9%;
        font-size: 16px;
        padding: 0px 0px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        border-radius: 60px 60px 0px 60px;
        box-shadow: 0px 0px 0px 0px rgba(211, 209, 209, 0.75);
        top:91%;
        background-color: #e08e8e;
    }
    .sideMenu {
        width: 100%;
    }
    .sideMenu div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 15px 0px;
        cursor: pointer;
        width: 100%;
    }
    hr {
        margin: 10px 10px;
        display: none;
    }
    .content {
        width: 100%;
        height: 100%;
        padding: 0px 10px;
        overflow-y: scroll;
        padding-bottom: 50px;
    }
}

/* Additional media queries for smaller screen sizes */
@media (max-width: 800px) {
    /* Adjust styles for smaller screens */

    .sideMenu div svg {
        width: 25px;
        height: 25px;
    }
    .contentHeader {
        height: 80px;
        width: 100%;
        background-image: url("../../assets/Header-bg.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 0px 0px 0px 30px;
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
    }
    .content {
        width: 100%;
        height: 100%;
        padding: 0px 10px;
        overflow-y: scroll;
        padding-bottom: 100px;
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
    /* Further adjust styles for very small screens */

    .sideMenu div svg {
        width: 25px;
        height: 25px;
    }
    .contentSection {
        overflow: hidden;
    }
    .contentHeader {
        height: 70px;
        width: 100%;
        background-image: url("../../assets/Header-bg.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 0px 0px 0px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .content {
        width: 100%;
        height: 100%;
        padding: 0px 10px;
        overflow-y: scroll;
        padding-bottom: 85px;
    }
}

/* Media query for very small screens */
@media (max-width: 380px) {
    /* Further adjust styles for very small screens */

    .DashboardSection {
        height: 100vh;
        width: 100%;
        position: relative;
    }
    .contentSection {
        width: 100%;
        overflow-y: hidden;
    }
    .sideMenuSection {
        width: 100%;
        display: flex;
        padding: 6px 12px;
        align-items: center;
        position: absolute;
        top:85%;
        left: 0%;
        justify-content: space-between;
    }
    .sideMenu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sideMenu div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        padding: 10px 15px;
    }
    .sideMenu div span {
        display: none;
    }
    .contentSection {
        width: 100%;
        order: 2;
    }
    .logoutSection {
        height: 0;
        display: block;
    }
    .contentHeader {
        height: 70px;
        width: 100%;
        background-image: url("../../assets/Header-bg.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 0px 0px 0px 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contentHeader .contentHeaderTitle {
        width: 90%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;
        font-size: 15px;
        color: aliceblue;
        padding: 0px 15px;
    }
    .contentHeader .contentHeaderLogo {
        width: 10%;
        padding: 0px 0px;
    }
    .contentHeader .contentHeaderLogo img {
        height: 20px;
        width: 20px;
    }
    .content {
        width: 100%;
        height: 100%;
        padding: 0px 10px;
        overflow-y: scroll;
        padding-bottom: 100px;
    }
}

