/* Card.css */
 
  
  /* CardSlider.css */
  .slider-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
 
    scroll-behavior: smooth; /* Add smooth scrolling behavior */
  }
  
  .card-wrapper {
    display: flex;
  }
  
  .card-wrapper {
    display: flex;
    width: 100%;


  }
  
  @media (max-width: 1400px) {
    .slider-container {
        width: 100%;
        overflow-x: auto;
        display: flex;
        justify-content: space-between;
       gap:30px;
       scroll-behavior: smooth;
      }
      
      .card-wrapper {
        display: flex;
        width: 100%;
     
    
      }
  }
  

     