/* Set styles for the dashboard container */
.dashboard_container {
    height: 100%;
    width: 100%;
    padding: 0px 10px;
    overflow:scroll;
    position: fixed;
    top:11%;

}

/* Styles for the chart container */
.chart_container {
    width: 60%;
    height: 500px;
    box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
    border-radius: 5px;
    margin: 20px 0px;
  position: fixed;

}
/*  */
/* Styles for the card container */
.card_container {
    height:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 98%;
    z-index: 6;

    padding-right: 50px;
}

/* Styles for the card info */
.card_container .cardInfo {
    background-color: #7ab8fa;
    border-radius: 5px;
    width: 17%;
    padding-left: 8px;
    box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
    height: 70px;
}

/* Styles for card details */
.cardDeteils {
    background-color: #ffff;
    border-radius: 0px 5px 5px 0px;
    padding: 10px;
    width: 100%;
    height: 100%;
}

/* Styles for text elements within card details */
.cardDeteils p {
    font-size: 15px;
    color: lightslategrey;
    font-weight: 600;
}

.cardDeteils h2 {
    font-size: 26px;
}

/* Media query for screens up to 1150px */
@media (max-width: 1350px) {
    .card_container .cardInfo {
        background-color: #0477f1;
        border-radius: 5px;
        width: 18%;
        padding-left: 8px;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        height: 87px;
    }
    .chart_container {
        width: 65%;
        height: 100%;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        border-radius: 5px;
        margin: 20px 0px;
    }
}
@media (max-width: 1250px) {
    .card_container .cardInfo {
        background-color: #0477f1;
        border-radius: 5px;
        width: 18%;
        padding-left: 8px;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        height: 86px;
    }
    .chart_container {
        width: 70%;
        height: 100%;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        border-radius: 5px;
        margin: 20px 0px;
    }
}
@media (max-width: 1150px) {
    .chart_container {
        width: 80%;
        height: 400px;
        margin-top: 10px;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        padding:0px 0px;
        border-radius: 5px;
    }
    
    .cardDeteils h2 {
        font-size: 25px;
    } .card_container .cardInfo {
        background-color: #0477f1;
        border-radius: 5px;
        width: 18%;
        padding-left: 8px;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        height: 70px;
    }

    /* Styles for card details */
    .cardDeteils {
        background-color: #ffff;
        border-radius: 0px 5px 5px 0px;
        padding: 10px;
        width: 100%;
        height: 100%;
    }

    /* Styles for text elements within card details */
    .cardDeteils p {
        font-size: 15px;
        color: lightslategrey;
        font-weight: 600;
    }

    .cardDeteils h2 {
        font-size:23px;
    }

}

/* Media query for screens up to 1000px */
@media (max-width: 1000px) {
    .dashboard_container {
        height: 100%;
        width: 100%;
    }

    .chart_container {
        width: 90%;
        height: 400px;
        margin-top: 10px;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        padding: 10px;
        border-radius: 5px;
    }

    .card_container {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding-right: 10px;
    }
 

    .cardDeteils h2 {
        font-size: 25px;
    } .card_container .cardInfo {
        background-color: #0477f1;
        border-radius: 5px;
        width: 18%;
        padding-left: 8px;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        height: 70px;
    }

    /* Styles for card details */
    .cardDeteils {
        background-color: #ffff;
        border-radius: 0px 5px 5px 0px;
        padding: 10px;
        width: 100%;
        height: 100%;
    }

    /* Styles for text elements within card details */
    .cardDeteils p {
        font-size: 15px;
        color: lightslategrey;
        font-weight: 600;
    }

    .cardDeteils h2 {
        font-size:23px;
    }
}

/* Media query for screens up to 900px */
@media (max-width: 900px) {
    .chart_container {
        width: 90%;
        height: 400px;
        margin-top: 10px;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        padding: 0px 10px;
        border-radius: 5px;
           
position: relative;
    }

    .cardDeteils p {
        font-size: 16px;
    }

    .cardDeteils h2 {
        font-size: 25px;
    }

    .card_container {
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding-right: 10px;

    }
    .card_container .cardInfo {
        background-color: #0477f1;
        border-radius: 5px;
        width: 18%;
        padding-left: 8px;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        height: 70px;
    }

    /* Styles for card details */
    .cardDeteils {
        background-color: #ffff;
        border-radius: 0px 5px 5px 0px;
        padding: 10px;
        width: 100%;
        height: 100%;
    }

    /* Styles for text elements within card details */
    .cardDeteils p {
        font-size: 13px;
        color: lightslategrey;
        font-weight: 600;
    }

    .cardDeteils h2 {
        font-size:20px;
    }
}

/* Media query for screens up to 800px */
@media (max-width: 800px) {
    .chart_container {
        width: 97%;
        height: auto;
        margin-top: 30px;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        padding:0px 10px;
        border-radius: 5px;
    }

    .cardDeteils {
        height: 100%;
    }
    .card_container .cardInfo {
        background-color: #0477f1;
        border-radius: 5px;
        width: 18%;
        padding-left: 8px;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        height: 60px;
    }

    /* Styles for card details */
    .cardDeteils {
        background-color: #ffff;
        border-radius: 0px 5px 5px 0px;
        padding: 10px;
        width: 100%;
        height: 100%;
    }

    /* Styles for text elements within card details */
    .cardDeteils p {
        font-size: 13px;
        color: lightslategrey;
        font-weight: 600;
    }

    .cardDeteils h2 {
        font-size:20px;
    }
}

/* Additional media queries for smaller screen sizes can be added as needed */
@media (max-width: 690px) {

    /* Styles for the chart container */
    .chart_container {
        width: 97%;
        height:auto;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        border-radius: 5px;
        margin: 10px 0px;
    }

    /* Styles for the card container */
    .card_container {
        height: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        width: 100%;
      margin: 5px 0px;
        padding-right: 00px;
    }

    /* Styles for the card info */
    .card_container .cardInfo {
        background-color: #0477f1;
        border-radius: 5px;
        width: 18%;
        padding-left: 8px;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        height: 60px;

    }

    /* Styles for card details */
    .cardDeteils {
        background-color: #ffff;
        border-radius: 0px 5px 5px 0px;
        padding: 10px;
        width: 100%;
        height: 100%;
    }

    /* Styles for text elements within card details */
    .cardDeteils p {
        font-size: 13px;
        color: lightslategrey;
        font-weight: 600;
    }

    .cardDeteils h2 {
        font-size:20px;
    }
}


@media (max-width: 620px) {

    /* Styles for the chart container */
    .chart_container {
        width: 97%;
        height:auto;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        border-radius: 5px;
        margin: 10px 0px;
    }

    /* Styles for the card container */
    .card_container {
        height: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding-right: 00px;
    }

    /* Styles for the card info */
    .card_container .cardInfo {
        background-color: #0477f1;
        border-radius: 5px;
        width: 18%;
        padding-left: 8px;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        height: 60px;
    }

    /* Styles for card details */
    .cardDeteils {
        background-color: #ffff;
        border-radius: 0px 5px 5px 0px;
        padding: 10px;
        width: 100%;
        height: 100%;
    }

    /* Styles for text elements within card details */
    .cardDeteils p {
        font-size: 12px;
        color: lightslategrey;
        font-weight: 600;
    }

    .cardDeteils h2 {
        font-size:16px;
    }
}

@media (max-width: 586px) {

    /* Styles for the chart container */
    .chart_container {
        width: 97%;
        height: auto;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        border-radius: 5px;
        margin: 10px 0px;
    }

    /* Styles for the card container */
    .card_container {
        height: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 8px;
        width: 100%;
        padding-right: 00px;
        
    }

    /* Styles for the card info */
    .card_container .cardInfo {
        background-color: #0477f1;
        border-radius: 5px;
      flex: 1;
        padding-left: 8px;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        height: 60px;
    }

    /* Styles for card details */
    .cardDeteils {
        background-color: #ffff;
        border-radius: 0px 5px 5px 0px;
        padding: 10px;
        width: 100%;
        height: 100%;
    }

    /* Styles for text elements within card details */
    .cardDeteils p {
        font-size: 12px;
        color: lightslategrey;
        font-weight: 600;
    }

    .cardDeteils h2 {
        font-size:16px;
    }
}

 
@media (max-width: 570px) {
    /* Styles for screens up to 400px wide */
     /* Styles for the chart container */
    .chart_container {
        width: 97%;
      height: auto;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        border-radius: 5px;
        margin: 10px 0px;
    }

    /* Styles for the card container */
    .card_container {
        height: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 8px;
        width: 800px;
        padding-right: 00px;
        
    }

    /* Styles for the card info */
    .card_container .cardInfo {
        background-color: #0477f1;
        border-radius: 5px;
        width:200px;
        padding-left: 8px;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        height: 60px;
    }

    /* Styles for card details */
    .cardDeteils {
        background-color: #ffff;
        border-radius: 0px 5px 5px 0px;
        padding: 10px;
        width: 100%;
        height: 100%;
    }

    /* Styles for text elements within card details */
    .cardDeteils p {
        font-size: 13px;
        color: lightslategrey;
        font-weight: 600;
    }

    .cardDeteils h2 {
        font-size:18px;
    }
}

@media (max-width: 390px) {

    .card_container {
        height:70px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 8px;
        width: 600px;
        padding-right: 00px;
        
    }

    /* Styles for the card info */
    .card_container .cardInfo {
        background-color: #0477f1;
        border-radius: 5px;
        width:150px;
        padding-left: 8px;
        box-shadow: 0.1px 0.1px 5px 0px rgba(211, 209, 209, 0.75);
        height: 60px;
    }

    /* Styles for card details */
    .cardDeteils {
        background-color: #ffff;
        border-radius: 0px 5px 5px 0px;
        padding: 10px;
        width: 100%;
        height: 100%;
    }

    /* Styles for text elements within card details */
    .cardDeteils p {
        font-size: 13px;
        color: lightslategrey;
        font-weight: 600;
    }

    .cardDeteils h2 {
        font-size:18px;
    }
   
}