
/* loading.module.css */
.loadingContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(10, 10, 10, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loadingIcon {
    /* Add styles for your custom loading icon here */
    /* Example styles: */
    width: 50px;
    height: 50px;
    /* Add your custom icon styles (e.g., background, animation, etc.) */
  }
  