/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* Reset Default Styles and Apply Custom Font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Mulish', sans-serif;
}

select,input{
    background-color:#fff;
}
/* Style Custom Input Field with Specific Class */
input.ant-input.css-dev-only-do-not-override-3mqfnx {
    font-family: 'Mulish', sans-serif;
}

:where(.css-dev-only-do-not-override-3mqfnx).ant-pagination .ant-pagination-item-active a {
background-color: #1677ff;
color: #fff;
border-radius: 4px;
}

/* Style Input Placeholder Text */
input.ant-input.css-dev-only-do-not-override-3mqfnx::placeholder {
    font-family: 'Mulish', sans-serif;
    color: rgba(153, 155, 156, 0.842);
}

/* Style Default Input Placeholder Text */
input::placeholder {
    color: rgba(153, 155, 156, 0.842);
}

/* Styling Scrollbar for Webkit-based Browsers */
/* Scrollbar Width */
::-webkit-scrollbar {
    width: 5px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: #c9c8c8; 
    border-radius: 80px;
}
option{
    font-size: 14px;
    overflow: hidden;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    border-radius: 80px;
    background: #979494;
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
    background: #cccaca;
}

 
/* Custom Styles for .ant-picker Class */
:where(.css-dev-only-do-not-override-3mqfnx).ant-picker {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Center Pagination in Responsive Design */
:where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-pagination-right {
    justify-content: center;
}

/* Styling for Ant Table Component */
:where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table {
    padding: 0px 10px;
    font-size: 14px;
}

/* Styling for Table Cells, Headers, and Footers */
:where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-cell,
:where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-tbody>tr>th,
:where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-tbody>tr>td,
:where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper tfoot>tr>th,
:where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper tfoot>tr>td {
    position: relative;
    padding: 8px 5px;
    text-align: center;
    font-size: 11px;
    color: black;
    overflow-wrap: break-word;
}

 
 

@media (max-width: 900px) {
    :where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-cell,
    :where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-thead>tr>th,
    :where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-tbody>tr>th,
    :where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-tbody>tr>td,
    :where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper tfoot>tr>th,
    :where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper tfoot>tr>td {
        position: relative;
        padding: 10px 5px;
        text-align: center;
        font-size: 10px;
        color: black;
        overflow-wrap: break-word;
    }
    
}