/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* Reset Default Styles and Apply Custom Font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth; /* Add smooth scrolling behavior */

}

/* input lables inside some padding */
label{
    padding: 0px 2px;
}

/* Style custom input and select fields */
select,
input {
    background-color: #fff;
}

/* Specific styles for certain input class */
input.ant-input.css-dev-only-do-not-override-3mqfnx {
    font-family: 'Mulish', sans-serif;
}

/* Pagination styles */
:where(.css-dev-only-do-not-override-3mqfnx).ant-pagination .ant-pagination-item-active a{
    background-color: #4096ff;
    color: #fff;
    border: 0.5px solid #4096ff;
    border: none;
}

:where(.css-dev-only-do-not-override-3mqfnx).ant-pagination a {
    background-color: #fff;
    color:  #4096ff;;
    border-radius: 2px;
    border: 0.5px solid #4096ff;
}

/* Button styles */
:where(.css-dev-only-do-not-override-3mqfnx).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-3mqfnx).ant-btn-default:not(:disabled),
:where(.css-dev-only-do-not-override-3mqfnx).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-3mqfnx).ant-btn-primary:not(:disabled) {
    color: #fff;
    background-color: #4096ff;
    border-radius: 30px;
}

/* Input placeholder text styles */
input.ant-input.css-dev-only-do-not-override-3mqfnx::placeholder {
    font-family: 'Mulish', sans-serif;
    color: rgba(153, 155, 156, 0.842);
}

/* Default input placeholder text styles */
input::placeholder {
    color: rgba(153, 155, 156, 0.842);
}

/* Styling scrollbar for Webkit-based Browsers */
/* Scrollbar Width */
::-webkit-scrollbar {
    width: 0px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: none;
    border-radius: 80px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    border-radius: 80px;
    background: none;
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
    background: none;
}

/* Custom styles for .ant-picker class */
:where(.css-dev-only-do-not-override-3mqfnx).ant-picker {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Center pagination in responsive design */
.ant-table-wrapper .ant-table-pagination-right {
    justify-content: center;
}

/* Styles for Ant Table Component */
:where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table {
    padding: 0px 10px;
    font-size: 14px;
}

/* Styles for table cells, headers, and footers */
:where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-cell,
:where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-tbody>tr>th,
:where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-tbody>tr>td,
:where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper tfoot>tr>th,
:where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper tfoot>tr>td {
    position: relative;
    padding: 9px 5px;
    text-align: center;
    font-size: 13px;
    color: black;
    overflow-wrap: break-word;
}

/* Responsive styles for smaller screens */
@media (max-width: 900px) {

    :where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-cell,
    :where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-thead>tr>th,
    :where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-tbody>tr>th,
    :where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-tbody>tr>td,
    :where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper tfoot>tr>th,
    :where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper tfoot>tr>td {
        position: relative;
        padding: 5px 5px;
        text-align: center;
        font-size: 10px;
        text-align: center;
        color: black;
        overflow-wrap: break-word;
    }

}

@media (max-width:800px){
    #one{
    border-left:none;

     color: red;
     width:40px;
     padding:5px 20px;
border-radius: 40px;    }
    #two{
        order: 3;  
        width:40px;
     padding: 5px 20px;

    }
    #three{
        width:40px;
        padding: 5px 20x;
   
    }
}